@import "bootstrap/bootstrap";
@import "Ginkgo";


html {
  font-size: 13px;
}

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  color: rgba(90, 90, 90, 1.00);

  font-weight: 400;
  text-align: center;
  font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  text-size-adjust: none;
  -webkit-text-size-adjust:none;
}

.mob-open {
  display: none !important;
  @include range-width(0, 450px) {
    display: inline-block !important;
  }
}

.mob-close {
  @include range-width(0, 450px) {
    display: none !important;
  }
}

.pad-close {
  @include range-width(0, 790px) {
    display: none !important;
  }
}

header {
  display: inline-block;
  width: 100%;
}

footer {
  display: inline-block;
  width: 100%;
}

.bigBoxs {
  display: inline-block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.box980 {
  display: inline-block;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.box1000 {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.wb5 {
  display: inline-block;
  width: calc(100% / 5);
}

.bg-grey {
  background-color: #eeeeee;
}

.new-a {
  .newBoxs {
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 270px;
    padding: 30px;
    border-top: 5px solid #1B5494;
  }

  .news-title {
    display: inline-block;
    font-size: 1.6rem;
    color: black;
    font-weight: 500;
  }

  &:hover {
    .newBoxs {
      border-top: 5px solid #e9a12e;
    }

    .news-title {
      color: #e9a12e;
    }
  }
}

.in-h {
  background: linear-gradient(to bottom, #233E77 0%, #233E77 80%, white 80%, white 100%);

  @include range-width(0, 450px) {
    background: linear-gradient(to bottom, #233E77 0%, #233E77 90%, white 90%, white 100%);
  }
}

// other
  // header
.h60 {
  height: 60px;

  @include range-width(0, 450px) {
    height: auto;
  }
}

.event-link {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #233E77;
  text-decoration: none;

  &:hover {
    color: #E9A12E;
  }
}

.n-unl {
  text-decoration: none;
}

  // footer
.h130 {
  height: 130px;

  @include range-width(0, 450px) {
    height: 90px;
  }
}

.logo-h {
  display: inline-block;
  max-width: 115px;
  width: 100%;
}

.logo-f {
  display: inline-block;
  max-width: 150px;
  width: 100%;
}

// text
.tagtext {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: #E9A12E !important;

    &:after {
      color: #747474;
    }
  }

  &:after {
    display: inline-block;
    content: '/';
    margin: 0 5px;
  }
}

// boot
.nav-pills {
  .nav-link {
    font-size: 1.25rem !important;
    &.active {
      background-color: #E9A12E !important;
    }
  }
}

.card {
  border: 0 !important;
  border-radius: 0 !important;
}

// .card-img-top {
//     border-top-left-radius: calc(0.25rem - 1px);
//     border-top-right-radius: calc(0.25rem - 1px);
// }

.nav-link {
  font-size: 1.3rem;

  @include range-width(0, 450px) {
    font-size: 1rem;
  }

  &.in-w {
    color: white !important;
  }
}

.navbar-menu {
   color: #E9A12E;
}


thead {
  color: #233e77 !important;
}

